@charset "UTF-8";
.menuTitle{
	width: 1200px;
	border: 1px solid;
	height: 200px;
	position: fixed;
	font-size: 25pt;
	background-color: yellow;
	border: 1px;
}

.menuTitle a{
		text-decoration: none;
}
a:hover{
	font-size: 30pt;
}

.mainPage{
	width: 600px;
	height: 1000px;
}