<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.jan05.review.ReviewMapper">
	<delete id="deleteMsg"
		parameterType="com.soldesk.jan05.review.Review">
		delete from review
		where rr_no = #{rr_no}
	</delete>
	<delete id="deleteReply"
		parameterType="com.soldesk.jan05.review.ReviewReply">
		delete from review_reply
		where cr_no = #{cr_no}
	</delete>
	<select id="getAllMsgCount" resultType="java.lang.Integer">
		select count(*)	from member, review where m_id = rr_owner
	</select>
	<select id="getSearchMsgCount"
		parameterType="com.soldesk.jan05.review.ReviewSelector"
		resultType="java.lang.Integer">
		select count(*) from member, review
		where m_id = rr_owner
		and (rr_txt like '%'||#{search}||'%' or m_id like '%'||#{search}||'%')
	</select>
	<select id="getMsg"
		parameterType="com.soldesk.jan05.review.ReviewSelector"
		resultType="com.soldesk.jan05.review.Review">
		select * from (
		select rownum as rn, m_id, rr_txt, rr_when, rr_color, rr_no
		from ( select * from member, review
		where m_id = rr_owner
		and (rr_txt like '%'||#{search}||'%' or m_id like '%'||#{search}||'%')
		order by rr_when desc ))
		where rn &gt;= #{start} and rn &lt;= #{end}
	</select>
	<select id="getReply"
		parameterType="com.soldesk.jan05.review.Review" resultType="com.soldesk.jan05.review.ReviewReply">
		select *
		from review_reply
		where cr_rr_no = #{rr_no}
		order by cr_when
	</select>
	<insert id="writeMsg" parameterType="com.soldesk.jan05.review.Review">
		insert into review values(review_seq.nextval, #{m_id}, #{rr_txt}, sysdate, #{rr_color})
	</insert>
	<insert id="writeReply"	parameterType="com.soldesk.jan05.review.ReviewReply">
		insert into reviews_reply values(review_reply_seq.nextval, #{cr_rr_no}, #{cr_owner}, #{cr_txt}, sysdate)
	</insert>
	<update id="updateMsg"
		parameterType="com.soldesk.jan05.review.Review">
		update review
		set rr_txt = #{rr_txt}
		where rr_no = #{rr_no}
	</update>
</mapper>













